<div class="container mx-auto p-6">
    <div class="grid grid-cols-3 gap-8">
        <div class="col-span-2 pl-20">
            <div>
                <h4 class="text-4xl pb-2">Work History</h4>
                {{ work_history }}
                <div>
                    <div>
                        <h2 class="text-3xl">{{ job_title }}</h2>
                    </div>
                    <div>
                        <a href="{{ url }}" class="text-xl text-light">{{ employer }}</a>
                    </div>
                    <div>
                        <div class="text-sm">
                            {{ start_date format="M Y" }} - {{ if end_date }} {{ end_date format="M Y" }} {{ else }}
                            Current {{ /if }}
                        </div>
                    </div>
                    <div class="pb-4">
                        {{ duties }}
                    </div>
                </div>
                {{ /work_history }}
            </div>
        </div>
        <div class="pr-20">
            <div class="pb-8">
                <h4 class="text-3xl pb-2">Summary</h4>
                <p class="text-sm">{{ summary }}</p>
            </div>
            <div class="pb-8">
                <h4 class="text-3xl pb-3">Skills</h4>
                <ul class="pl-5">
                    {{ skills }}
                        <li class="list-disc">{{ value }}</li>
                    {{ /skills }}
                </ul>
            </div>
            <div>
                <h4 class="text-3xl pb-3">Hobbies</h4>
                <ul class="pl-5">
                    {{ hobbies }}
                        <li class="list-disc">{{ value }}</li>
                    {{ /hobbies }}
                </ul>
            </div>
        </div>
    </div>
</div>
